.ListPost{
  display: flex;  
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: initial;
}

.Post{
  width: calc(100% / 3);
  height: auto;
}

.Post img{
  width: 100%;
  height: auto;
  border: solid black 1px;
}

.Poster{
  
}